If you are interested in becoming a member of the MITSSS, please fill up
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfnvL5q4sGyT-kWEpZRbCGkwGrSLqrZ8p5sfoVU5P4bA28vgQ/viewform">this form</a>! :)

<br><br>
Membership is free and open to anyone (not just Singaporean MIT students).
<br><br>
You will be added to the MITSSS mailing list after signing up. The process of transferring the data to the MITSSS mailing list is done manually, so some delay is to be expected. Please be patient!

<!--<form action="https://docs.google.com/a/ongmingyang.com/spreadsheet/formResponse?formkey=dEY2QkNScmE3alJFd2ZFMW02dGVXU0E6MQ&amp;ifq" method="POST" id="registration-form">

<form action="https://docs.google.com/forms/d/e/1FAIpQLSfnvL5q4sGyT-kWEpZRbCGkwGrSLqrZ8p5sfoVU5P4bA28vgQ/formResponse" method="POST" id="registration-form">

<h1>Membership Registration</h1>

<h3>required fields are marked with an asterisk (<abbr title="Mandatory">*</abbr>)</h3>

<div class="form-entry">
	<div class="form-left">
		<label for="entry_0">Name <abbr title="Mandatory">*</abbr></label>
	</div><div class="form-right">
		<input type="text" name="entry.0.single" id="entry_0" placeholder="First Name" required>
		<input type="text" name="entry.1.single" placeholder="Last Name" required>
	</div>
</div>

<div class="form-entry">
	<div class="form-left">
		<label for="entry_2">Current Affiliation <abbr title="Mandatory">*</abbr></label>
		<span class="popup icon-info" aria-hidden="true"></span><label class="form-help" for="entry_2">MIT, Harvard, BU, BC, Wellesley, NUS, others, etc</label>
	</div><div class="form-right">
		<ul>
		<li><label><input type="radio" required name="entry.2.group" value="MIT" id="group_2_1">MIT</label></li>
		<li><label><input type="radio" required name="entry.2.group" value="Harvard" id="group_2_2">Harvard</label></li>
		<li><label><input type="radio" required name="entry.2.group" value="Boston University" id="group_2_3">Boston University</label></li>
		<li><label><input type="radio" required name="entry.2.group" value="Boston College" id="group_2_4">Boston College</label></li>
		<li><label><input type="radio" required name="entry.2.group" value="Wellesley" id="group_2_5">Wellesley</label></li>
		<li><label><input type="radio" required name="entry.2.group" value="NUS/NTU attachment" id="group_2_6">NUS/NTU attachment</label></li>
		<li><input type="radio" required name="entry.2.group" value="__option__" id="other_option:2">
		<label for="other_option:2">Other:</label>
		<input type="text" name="entry.2.group.other_option_" value="" class="ss-q-other"></li>
		</ul>
	</div>
</div>

<div class="form-entry">
	<div class="form-left">
		<label for="entry_3">Email Address <abbr title="Mandatory">*</abbr></label>
	</div><div class="form-right">
		<input type="email" name="entry.3.single" id="entry_3" required>
	</div>
</div>

<div class="form-entry">
	<div class="form-left">
		<label for="entry_11">Citizenship status <abbr title="Mandatory">*</abbr></label>
		<span class="popup icon-info" aria-hidden="true"></span><label class="form-help" for="entry_11">Singapore Citizen, PR, NA?</label>
	</div><div class="form-right">
		<select name="entry.11.single" id="entry_11" required>
			<option value="Singapore Citizen">Singapore Citizen</option>
			<option value="Singapore PR">Singapore PR</option>
			<option value="Neither">Neither</option>
		</select>
	</div>
</div>

<div class="form-entry">
	<div class="form-left">
		<label for="entry_4">Standing <abbr title="Mandatory">*</abbr></label>
	</div><div class="form-right">
		<select name="entry.4.single" id="entry_4" required>
			<option value="Graduate - Masters">Graduate - Masters</option>
			<option value="Graduate - PhD">Graduate - PhD</option>
			<option value="Undergraduate">Undergraduate</option>
			<option value="Postdoc">Postdoc</option>
			<option value="Alumni">Alumni</option> <option value="Other">Other</option>
		</select>
	</div>
</div>

<div class="form-entry">
	<div class="form-left">
		<label for="entry_14">Current Year</label>
		<span class="popup icon-info" aria-hidden="true"></span><label class="form-help" for="entry_14">How long have you been here?</label>
	</div><div class="form-right">
		<ul>
		<li><label><input type="radio" name="entry.14.group" value="1" id="group_14_1">
		1</label></li>
		<li><label><input type="radio" name="entry.14.group" value="2" id="group_14_2">
		2</label></li>
		<li><label><input type="radio" name="entry.14.group" value="3" id="group_14_3">
		3</label></li>
		<li><label><input type="radio" name="entry.14.group" value="4" id="group_14_4">
		4</label></li>
		<li><label><input type="radio" name="entry.14.group" value="5" id="group_14_5">
		5</label></li>
		<li><label><input type="radio" name="entry.14.group" value="6" id="group_14_6">
		6</label></li>
		<li><input type="radio" name="entry.14.group" value="__option__" id="other_option:14">
		<label for="other_option:14">Other:</label>
		<input type="text" name="entry.14.group.other_option_" value="" class="ss-q-other"></li></ul>
	</div>
</div>

<div class="form-entry">
	<div class="form-left">
		<label for="entry_7">Anticipated graduation/degree completion</label>
		<span class="popup icon-info" aria-hidden="true"></span><label class="form-help" for="entry_7">E.g. 2013, 2014, NA</label>
	</div><div class="form-right">
		<input type="text" name="entry.7.single" value="" class="ss-q-short" id="entry_7">
	</div>
</div>

<div class="form-entry">
	<div class="form-left">
		<label for="entry_5">Course of Study</label>
	</div><div class="form-right">
		<select name="entry.5.single" id="entry_5">
			<option value="Engineering, Computer Science">Engineering, Computer Science</option>
			<option value="Physical &amp; Life Sciences, Mathematics">Physical &amp; Life Sciences, Mathematics</option>
			<option value="Social Sciences, Humanities, Business">Social Sciences, Humanities, Business</option>
			<option value="Others">Others</option>
		</select>
	</div>
</div>

<div class="form-entry">
	<div class="form-left">
		<label for="entry_9">Contact me about career prospects <abbr title="Mandatory">*</abbr></label>
		<span class="popup icon-info" aria-hidden="true"></span><label class="form-help" for="entry_9">Receive information from Overseas Singaporean Unit, Contact Singapore, etc</label>
	</div><div class="form-right">
		<ul>
			<li><label><input type="radio" required name="entry.9.group" value="Yes" id="group_9_1">Yes</label></li>
			<li><label><input type="radio" required name="entry.9.group" value="No" id="group_9_2">No</label></li>
		</ul>
	</div>
</div>

<div class="form-entry">
	<div class="form-left">
		<label for="entry_13">Government scholar?</label>
		<span class="popup icon-info" aria-hidden="true"></span><label class="form-help" for="entry_13">Type in the name of the scholarship organization in &#39;Other&#39; if you do not mind disclosing.</label>
	</div><div class="form-right">
		<ul>
		<li><label><input type="radio" name="entry.13.group" value="Yes" id="group_13_1">Yes</label></li>
		<li><label><input type="radio" name="entry.13.group" value="No" id="group_13_2">No</label></li>
		<li><input type="radio" name="entry.13.group" value="__option__" id="other_option:13">
		<label for="other_option:13">Other: <input type="text" name="entry.13.group.other_option_" value="" class="ss-q-other"></label>
		</li>
		</ul>
	</div>
</div>

<div class="form-entry">
	<div class="form-left">
		<label for="entry_6">Comments, suggestions, or questions</label>
	</div><div class="form-right">
		<textarea name="entry.6.single" rows="8" cols="75" class="ss-q-long" id="entry_6"></textarea>
	</div>
</div>

<div style="text-align: center;">
<input type="reset" name="reset" value="Reset">
<input type="submit" name="submit" value="Submit">
</div>

</form>
 -->
